@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

:root {
    --color1: #2D3250;
    --color2: #424769;
    --color3: #7077A1;
    --color4: #9EC8B9;

    --font-size-default: 18px;
    --font-size-small: 16px;
    --font-size-large: 20px;

    --font-weight-default: 500;
    --font-weight-semi: 600;
    --font-weight-bold: 700;
}

p,
a,
.button {
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-semi);
}

body {
    background-color: var(--color1);
}

.grid {
    display: grid;

    &.grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

.content-wrapper {
    max-width: 900px;
    margin: auto;

    &.hero {
        height: 90vh;
        align-items: center;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-wrapper {
    justify-content: space-between;
    padding: 1rem 0;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        height: 100%;
    }

    &.logo {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: var(--color2);
    }
}

/* --------------HEADER--------------- */

.logo-container {
    display: flex;
    align-items: center;

    & h2 {
        margin-left: .5rem;
    }
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 5rem;

    & a {
        text-decoration: none;
    }
}

/* ---------------HERO---------------- */

.game-title {
    font-size: 94px;
    line-height: 1;
}

.game-description {
    font-weight: var(--font-weight-default);
    font-size: var(--font-size-small);
}

button {
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--color3)
}

/* ---------------GAME CONTENT---------------- */

#game-container {
    background-color: var(--color2);
    padding: 2.5rem;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;

    & h2 {
        font-size: 64px;
    }
}

#human-score,
#computer-score,
#result-description {
    font-size: 24px;
}

.scoring.grid,
#game-container h2,
#result-description {
    text-align: center;
    margin-bottom: 2rem;
}

.options.grid,
.scoring.grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;

    & .user-options button:hover {
        transform: scale(1.1);
    }
}

.user-options .grid,
.computer-options .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-left: 1rem;
}

.grid-item .button {
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    background-color: var(--color3);
    border-radius: 20px;
    transition: .3s ease;
}

.grid-item .button,
#game-container,
#play-button,
.modal,
#modal-button {
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

#play-button,
#modal-button {
    transition: .3s ease;
    margin: 1rem 0;
    padding: 1rem 6rem;
    border-radius: .5rem;

    &:hover {
        background-color: #585e88;
        color: #ffcc33;
        transform: scale(1.01);
    }

    &:active {
        background-color: #474c72;
    }
}

/* ---------------MODAL--------------- */

#modal-overlay,
#game-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal {
    width: 370px;
    background-color: var(--color2);
    margin: auto;
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal .grid {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    width: 100%;
    font-size: 60px;
    line-height: 1;
}